.pwi_loader{
	height: 60px;
	width: 200;
	border: 1px solid #111111;
}

.pwi_container{
	color: #ffffff;
	background-color: rgba(17,17,17,0.1);
	font-family: Arial;
	font-size: 8pt;
	padding: 5px;
}

.pwi_container a{
	color: #ffffff;
}

.pwi_album_description{
	text-align: left;
	color: #ffffff;
	font-family: Arial;
	font-size: 8pt;
	background-color: rgba(17,17,17,0.1);
	padding: 10px;

}
.pwi_album_description .title{
	color: #ffffff;
	font-size: 12pt;
	margin-top: 10px;

}
.pwi_album_description .details{
	color: #ffffff;
	font-size: 8pt;
	font-style: italic;
}
.pwi_album_description .description{
	font-size: 10pt;
	padding: 5px;
}
.pwi_album_description .sslink{

}

.pwi_album{
	float: left;
	margin: 1em;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}

.pwi_album_backlink{
	text-decoration: underline;
	cursor: pointer;
}

.pwi_album img{
	border: 0px solid #111111;
}

.pwi_photo{
	float: left;
	margin: 1em;
	text-align: center;
	border: 0px dotted white;
}
.pwi_photo img{
	border: 0px solid #111111;
}

.pwi_photo a{
	text-decoration: none;	
}

.pwi_pager{
	clear: both;
}
.pwi_prevpage, .pwi_nextpage, .pwi_pager_page, .pwi_pager_current{
	text-decoration: underline;
	float: left;
	margin: 5px;
}
.pwi_prevpage, .pwi_nextpage, .pwi_pager_page{
	cursor: pointer;
}
.link{
	text-decoration: underline;
	cursor: pointer;
}

.pwi_pager_current{
	text-decoration: none;
	font-weight: bold;
}
